body {
  display: flex;
}

#container {
  width: 500px;
  height: 730px;
  border: solid;
  margin: auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  border-radius: 35px;
  background-color: rgb(198, 198, 198);
  box-shadow: inset 0px 0px 20px;
}

.display {
  background-color: green;
  margin: 40px;
  padding-top: 50px;
  padding-left: 10px;
  font-size: 72px;
  box-shadow: inset 0px 0px 30px;
  opacity: 0.8;
}

.buttons {
  margin: 30px 40px;
  display: flex;
  flex-direction: column;
}

#clear {
  border: solid;
  height: 75px;
  width: 200px;
  border-width: 3px;
  padding: 10px 10px;
  margin-right: auto;
  margin-top: -50px;
  border-radius: 10px;
  font-size: 50px;
  box-shadow: inset 0px 0px 3px;
  text-align: center;
}

.numbers {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
}

.numbers > button {
  border: solid;
  border-width: 3px;
  font-size: 72px;
  width: 90px;
  text-align: center;
  border-radius: 10px;
  box-shadow: inset 0px 0px 3px;
}

.numbers > button:active,
#clear:active {
  background-color: rgba(160, 253, 255, 0.309);
  box-shadow: 0px 0px 0px;
}

.numbers > button:active {
  font-size: 69px;
}

#clear:active {
  font-size: 49px;
}

.numbers > #equals {
  width: 200px;
  height: 100px;
  align-self: flex-end;
}
